<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">

    <title>{{ renderData.title }}</title>
    <meta name="description" content="Hosting videos of Auburn skateboarding over time.">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicon/site.webmanifest">

    <meta property="og:title" content="Aubskate">
    <meta property="og:description" content="Hosting videos of Auburn skateboarding over time.">
    <meta property="og:image" content="/assets/images/crew.jpg">
    <meta property="og:url" content="https://www.aubskate.com">
    <meta property="og:site_name" content="Aubskate">
    <meta name="twitter:card" content="summary_large_image">

    <link rel="stylesheet" type="text/css" href="/assets/styles/aubskate.css">
</head>
<body class="aubskate">
    {% block template %}
    {% endblock %}
</body>
</html>
