{% extends "layouts/base.njk" %}

{% block template %}
    <main class="aubskate-main aubskate-container">
        <header class="aubskate-header">
            <img class="aubskate-logo" alt="" src="/assets/images/aubskate-logo.png" />
            <h1 class="aubskate-title">Aubskate</h1>
            <p class="aubskate-tagline">Remembering the Classics</p>
        </header>

        {% block content %}
        {% endblock %}
    </main>
{% endblock %}
