---
renderData:
  section: "home"
  title: "Aubskate, Remembering the Classics"
pagination:
    data: collections.home
    alias: home
    size: 1
permalink: "/"
---

{% extends "layouts/main.njk" %}

{% block content %}
    {% if home.data.content -%}
        <div class="aubskate-markdown">
            {{ home.data.content | markdown | safe }}
        </div>
    {%- endif %}

    {% set videos = collections.video %}
    <h2 id="videos">Videos</h2>
    <ul class="aubskate-video-list">
        {% for video in videos -%}
        <li class="aubskate-video-list-item">
            <img src="{{ video.data.poster }}" alt="{{ video.data.title }} Title Screen" class="aubskate-video-image" />

            <a href="/{{ video.data.slug }}/" class="aubskate-video-link">
                {{ video.data.title }}
                {% if video.data.year -%}
                    <span class="aubskate-video-meta">{{ video.data.year}}</span>
                {%- endif %}
            </a>
        </li>
        {%- endfor %}
    </ul>
{% endblock %}
