---
renderData:
  section: "home"
  title: "Aubskate, Remembering the Classics"
pagination:
    data: collections.home
    alias: home
    size: 1
permalink: "/"
---

{% extends "layouts/main.njk" %}

{% block content %}
    {% if home.data.content -%}
        <div class="aubskate-markdown">
            {{ home.data.content | markdown | safe }}
        </div>
    {%- endif %}

    {% set videos = collections.video %}
    {% set sortedVideos = videos | sortByDate %}
    <h2 id="videos">Videos</h2>
    <ul class="aubskate-video-list">
        {% for video in sortedVideos -%}
        <li class="aubskate-video-list-item">
            <img src="{{ video.data.poster }}" alt="{{ video.data.title }} Title Screen" class="aubskate-video-image" />

            <a href="/{{ video.data.slug }}/" class="aubskate-video-link" title="{{ video.data.title }}">
                <span class="aubskate-accessible-text">{{ video.data.title }}</span>
            </a>
        </li>
        {%- endfor %}
    </ul>
{% endblock %}
