---
renderData:
  section: "home"
  title: "home.data.title"
pagination:
    data: collections.home
    alias: home
    size: 1
permalink: "/"
---

{% extends "layouts/main.njk" %}
{% set videos = collections.video %}

{% block content %}

    {% if home.data.title -%}
        <h1 class="aubskate-accessible-text">{{ home.data.title }}</h1>
    {%- endif %}

    {% if home.data.content -%}
        {{ home.data.content | markdown | safe }}
    {%- endif %}

    <ul class="aubskate-video-list">
        {% for video in videos -%}
        <li class="aubskate-video">
            <a href="/{{ video.data.slug }}/" class="aubskate-video-link">
                {{ video.data.title }}
                {% if video.data.year -%}
                    <span class="aubskate-video-meta">{{ video.data.year}}</span>
                {%- endif %}
            </a>
        </li>
        {%- endfor %}
    </ul>

{% endblock %}
