.aubskate-footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text);
    min-height: 5rem;
    width: 100%;

    .aubskate-container {
        align-items: center;
        box-sizing: content-box;
        display: flex;
        justify-content: space-between;
        max-width: 26.25rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
        width: auto;
    }
}

.aubskate-footer-link {
    margin: 0 1.5rem 0 0;
    width: 10rem;
}

.aubskate-footer-logo {
    margin: 0;
    max-width: 100%;
    width: 100%;
}

.aubskate-footer-text {
    display: block;
    font-size: 0.82rem;
    width: 100%;
}
