{% macro footer() %}

<footer class="aubskate-footer">
    <div class="aubskate-container">
        <a href="/" class="aubskate-footer-link">
            <img class="aubskate-footer-logo" src="/assets/images/aubskate-logo.png" alt="" />
        </a>
        <p class="aubskate-footer-text">
            Auburn Skate Crew.<br />
            Destroying America one curb at a time.
        </p>
    </div>
</footer>

{% endmacro %}
