{% macro footer(content) %}

<footer class="aubskate-footer">
    <div class="aubskate-container">
        <img class="aubskate-footer-logo" src="/assets/images/aubskate-logo.png" alt="" />
        <div class="aubskate-footer-text">
            <p class="aubskate-footer-text">ASC, destroying America one curb at a time.</p>
            <p class="aubskate-footer-text">ryandudek at gmail</p>
        </div>
    </div>
</footer>

{% endmacro %}
