.aubskate-footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text);
    min-height: 5rem;
    text-align: center;
    width: 100%;

    .aubskate-container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
        padding-top: 1rem;
        width: auto;
    }
}

.aubskate-footer-logo {
    margin: 0 1.5rem 0 0;
    width: 10rem;
}

.aubskate-footer-text {
    display: block;
    width: 100%;
}
