{% from "components/related-links/related-links.njk" import relatedLinks as relatedLinks %}

{% macro content(body, resources, icons) %}
    <div class="aubskate-content {% if resources.length > 0 %}aubskate-has-sidebar{% endif %}">
        {% if body.length > 0 -%}
            <section class="aubskate-article aubskate-markdown">
                {{ body | markdown | safe }}
            </section>
        {%- endif %}

        {% if resources.length > 0 -%}
            {{ relatedLinks(
                resources,
                icons
            ) }}
        {%- endif %}
    </div>
{% endmacro %}
