{% macro logo(image_src, image_alt_text) %}
    <div class="aubskate-logo">
        <a class="aubskate-logo-link" href="/">
            <img class="aubskate-logo-image" src="{{ image_src }}" alt="{{ image_alt_text }}">
        </a>
    </div>
{% endmacro %}
